backend/n8n/AutoLab_Chat__Telegram_Interactivo.json
{
    "updatedAt": "2026-04-12T18:12:25.357Z",
    "createdAt": "2026-03-25T20:25:08.202Z",
    "id": "hANSvWyqiH6KpYxi",
    "name": "AutoLab Chat \u2014 Telegram Interactivo",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message"
                ],
                "additionalFields": {}
            },
            "id": "tg-trigger",
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                304
            ],
            "webhookId": "autolab-chat-webhook",
            "credentials": {
                "telegramApi": {
                    "id": "Xj52PYgRoPbfUJC7",
                    "name": "Telegram Autoevolucion-API-AI"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://autolab-api.dantelujan.online/chat",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-Key",
                            "value": "={{ $env.AUTOLAB_API_KEY }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "message",
                            "value": "={{ $('Telegram Trigger').item.json.message.text }}"
                        }
                    ]
                },
                "options": {
                    "timeout": 90000
                }
            },
            "id": "post-chat",
            "name": "POST /chat",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                272,
                304
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                "text": "={{ $json.telegram_msg }}",
                "additionalFields": {}
            },
            "id": "tg-reply",
            "name": "Telegram Responder",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                528,
                304
            ],
            "webhookId": "cb9c5486-9ba4-45cc-93b3-e2dc2247150e",
            "credentials": {
                "telegramApi": {
                    "id": "Xj52PYgRoPbfUJC7",
                    "name": "Telegram Autoevolucion-API-AI"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "POST /chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "POST /chat": {
            "main": [
                [
                    {
                        "node": "Telegram Responder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false,
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "f0c0a975-41f5-4481-8eba-63dfc99efece",
    "activeVersionId": "f0c0a975-41f5-4481-8eba-63dfc99efece",
    "versionCounter": 35,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-03-25T20:25:08.202Z",
            "createdAt": "2026-03-25T20:25:08.202Z",
            "role": "workflow:owner",
            "workflowId": "hANSvWyqiH6KpYxi",
            "projectId": "qke1CsVGQnl10ilh",
            "project": {
                "updatedAt": "2025-12-20T20:06:25.899Z",
                "createdAt": "2025-12-20T20:03:54.084Z",
                "id": "qke1CsVGQnl10ilh",
                "name": "Dante Lujan <soydantelujan@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "bc8b7699-d048-48bc-8db3-36d2bb5c3b65"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-04-12T18:12:25.359Z",
        "createdAt": "2026-04-12T18:12:25.359Z",
        "versionId": "f0c0a975-41f5-4481-8eba-63dfc99efece",
        "workflowId": "hANSvWyqiH6KpYxi",
        "nodes": [
            {
                "parameters": {
                    "updates": [
                        "message"
                    ],
                    "additionalFields": {}
                },
                "id": "tg-trigger",
                "name": "Telegram Trigger",
                "type": "n8n-nodes-base.telegramTrigger",
                "typeVersion": 1.1,
                "position": [
                    0,
                    304
                ],
                "webhookId": "autolab-chat-webhook",
                "credentials": {
                    "telegramApi": {
                        "id": "Xj52PYgRoPbfUJC7",
                        "name": "Telegram Autoevolucion-API-AI"
                    }
                }
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://autolab-api.dantelujan.online/chat",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "X-API-Key",
                                "value": "={{ $env.AUTOLAB_API_KEY }}"
                            }
                        ]
                    },
                    "sendBody": true,
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "message",
                                "value": "={{ $('Telegram Trigger').item.json.message.text }}"
                            }
                        ]
                    },
                    "options": {
                        "timeout": 90000
                    }
                },
                "id": "post-chat",
                "name": "POST /chat",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    272,
                    304
                ]
            },
            {
                "parameters": {
                    "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                    "text": "={{ $json.telegram_msg }}",
                    "additionalFields": {}
                },
                "id": "tg-reply",
                "name": "Telegram Responder",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    528,
                    304
                ],
                "webhookId": "cb9c5486-9ba4-45cc-93b3-e2dc2247150e",
                "credentials": {
                    "telegramApi": {
                        "id": "Xj52PYgRoPbfUJC7",
                        "name": "Telegram Autoevolucion-API-AI"
                    }
                }
            }
        ],
        "connections": {
            "Telegram Trigger": {
                "main": [
                    [
                        {
                            "node": "POST /chat",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "POST /chat": {
                "main": [
                    [
                        {
                            "node": "Telegram Responder",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Dante Lujan",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-04-12T18:12:26.012Z",
                "id": 240,
                "workflowId": "hANSvWyqiH6KpYxi",
                "versionId": "f0c0a975-41f5-4481-8eba-63dfc99efece",
                "event": "deactivated",
                "userId": "bc8b7699-d048-48bc-8db3-36d2bb5c3b65"
            },
            {
                "createdAt": "2026-04-12T18:12:27.326Z",
                "id": 241,
                "workflowId": "hANSvWyqiH6KpYxi",
                "versionId": "f0c0a975-41f5-4481-8eba-63dfc99efece",
                "event": "activated",
                "userId": "bc8b7699-d048-48bc-8db3-36d2bb5c3b65"
            }
        ]
    }
}
