backend/n8n/workflow_main_loop.json
{
  "name": "AutoLab — Main Loop (cada 30min)",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cron 30min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300],
      "parameters": {
        "rule": {
          "interval": [{"field": "minutes", "minutesInterval": 30}]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "GET /context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AUTOLAB_API_URL }}/context",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "top_n", "value": "20"}]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "NVIDIA — Analizar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 300],
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nvidia/llama-3.1-nemotron-ultra-253b-v1\",\n  \"max_tokens\": 2048,\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sos un analista cuantitativo senior de backtesting BTC/USDT. Respondé SIEMPRE en JSON válido sin texto adicional.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Benchmark actual: Sharpe OOS 1.166 | Fitness 1.193\\n\\nTop resultados:\\n\" + JSON.stringify({{ $json.top_results }}.slice(0, 15)) + \"\\n\\nLearnings acumulados:\\n\" + JSON.stringify({{ $json.learnings }}.slice(0, 20)) + \"\\n\\nDirectivas Opus:\\n\" + JSON.stringify({{ $json.opus_insights }}) + \"\\n\\nAnalizá patrones y respondé con JSON: {patterns_positive, patterns_negative, parameter_insights, suggested_direction, strategies_to_prioritize}\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Wait 12s (rate limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [760, 300],
      "parameters": {
        "resume": "timeInterval",
        "amount": 12,
        "unit": "seconds"
      },
      "webhookId": "wait-ratelimit-1"
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Parsear Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 300],
      "parameters": {
        "jsCode": "const raw = $input.item.json.choices[0].message.content;\nlet analysis;\ntry {\n  const match = raw.match(/```json([\\s\\S]*?)```/) || raw.match(/(\\{[\\s\\S]*\\})/);\n  analysis = JSON.parse(match ? match[1].trim() : raw.trim());\n} catch(e) {\n  analysis = {\n    patterns_positive: [],\n    patterns_negative: [],\n    parameter_insights: [],\n    suggested_direction: 'Explorar variaciones del benchmark actual',\n    strategies_to_prioritize: ['breakout', 'vwap_pullback']\n  };\n}\nreturn [{json: {analysis, raw_response: raw}}];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "NVIDIA — Hipotetizar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"z-ai/glm5\",\n  \"max_tokens\": 4096,\n  \"temperature\": 0.8,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sos un ingeniero cuantitativo. Generás configuraciones de experimentos de backtesting BTC/USDT. Respondé SIEMPRE con un JSON array válido, sin texto adicional. NUNCA propongas valores fuera de los rangos especificados.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Benchmark a superar: Fitness 1.193 | Sharpe OOS 1.166\\n\\nAnálisis: \" + JSON.stringify({{ $json.analysis }}) + \"\\n\\nEspacio de parámetros:\\n- breakout: lookback[10-40], vol_ratio_min[1.0-3.0], adx_filter[18-32], ema_trend_daily_period[15-60], breakeven_after_r[0-1.5], sl_atr_mult[1.5-4.0], trail_atr_mult[1.5-4.0], atr_period[7-21], ema_trend_period[20-200], max_hold_bars[15-60], adx_period[7-21]\\n- vwap_pullback: sl_atr_mult[0.75-2.5], adx_filter[0-30], vol_ratio_min[0.8-2.0], breakeven_after_r[0-1.0], ema_trend_period[20-100], ema_trend_daily_period[15-60], trail_atr_mult[1.5-3.5], adx_period[7-21]\\n- mean_reversion: rsi_period[7-21], rsi_oversold[20-40], bb_period[14-30], bb_std[1.5-3.0], atr_period[7-21], sl_atr_mult[1.5-3.0], ema_trend_period[20-100]\\n\\nGenerá exactamente 8 configs de experimento. Respondé SOLO con JSON array:\\n[{\\\"strategy\\\":\\\"breakout\\\",\\\"params\\\":{...},\\\"notes\\\":\\\"hipótesis breve\\\"},{...}]\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Wait 12s (rate limit 2)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1420, 300],
      "parameters": {
        "resume": "timeInterval",
        "amount": 12,
        "unit": "seconds"
      },
      "webhookId": "wait-ratelimit-2"
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Validar Configs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 300],
      "parameters": {
        "jsCode": "const raw = $input.item.json.choices[0].message.content;\nconst REQUIRED = {\n  breakout: ['lookback','vol_ratio_min','atr_period','sl_atr_mult','trail_atr_mult','ema_trend_period','ema_trend_daily_period','adx_filter','breakeven_after_r'],\n  vwap_pullback: ['sl_atr_mult','trail_atr_mult','adx_filter','vol_ratio_min','breakeven_after_r','ema_trend_period','ema_trend_daily_period'],\n  mean_reversion: ['rsi_period','rsi_oversold','bb_period','bb_std','atr_period','sl_atr_mult','ema_trend_period']\n};\nconst BOUNDS = {\n  lookback: [10,40], vol_ratio_min: [0.8,3.0], adx_filter: [0,35],\n  ema_trend_daily_period: [15,60], breakeven_after_r: [0,1.5],\n  sl_atr_mult: [0.75,4.0], trail_atr_mult: [1.5,4.0],\n  rsi_oversold: [20,40], bb_period: [14,30], bb_std: [1.5,3.0],\n  atr_period: [7,21], ema_trend_period: [20,200], max_hold_bars: [15,60],\n  adx_period: [7,21], rsi_period: [7,21]\n};\nlet configs;\ntry {\n  const match = raw.match(/```json([\\s\\S]*?)```/) || raw.match(/(\\[[\\s\\S]*\\])/);\n  configs = JSON.parse(match ? match[1].trim() : raw.trim());\n  if (!Array.isArray(configs)) configs = [];\n} catch(e) { return [{json: {valid_configs: [], total: 0, skipped: 0, reason: 'JSON parse error: ' + e.message}}]; }\nconst valid = configs.filter(c => {\n  if (!['breakout','vwap_pullback','mean_reversion'].includes(c.strategy)) return false;\n  const req = REQUIRED[c.strategy] || [];\n  if (!req.every(p => p in (c.params||{}))) return false;\n  for (const [p, v] of Object.entries(c.params||{})) {\n    if (BOUNDS[p] && (v < BOUNDS[p][0] || v > BOUNDS[p][1])) return false;\n  }\n  return true;\n});\nif (valid.length === 0) {\n  throw new Error('No valid configs generated. Raw: ' + raw.substring(0, 200));\n}\nreturn [{json: {valid_configs: valid, total: configs.length, skipped: configs.length - valid.length}}];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "POST /experiments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1860, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AUTOLAB_API_URL }}/experiments",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({experiments: $json.valid_configs, session_id: 'N8N_' + $now.toFormat('yyyyMMdd_HHmmss'), cycle_num: $runIndex + 1}) }}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "POST /run-pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2080, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AUTOLAB_API_URL }}/run-pipeline",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"limit\": 10}",
        "options": {
          "timeout": 600000
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "GET /results/cycle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AUTOLAB_API_URL }}/results/cycle",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [{"name": "batch_id", "value": "={{ $json.batch_id }}"}]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Wait 12s (rate limit 3)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2520, 300],
      "parameters": {
        "resume": "timeInterval",
        "amount": 12,
        "unit": "seconds"
      },
      "webhookId": "wait-ratelimit-3"
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "NVIDIA — Aprender",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2740, 300],
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"moonshotai/kimi-k2.5\",\n  \"max_tokens\": 2048,\n  \"temperature\": 0.5,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extraés aprendizajes reutilizables de backtesting. Respondé SIEMPRE con JSON array válido.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Resultados del ciclo:\\n\" + JSON.stringify({{ $json.results }}.slice(0, 15)) + \"\\n\\nCategorías válidas: parameter_insight, dead_end, promising_direction, strategy_ranking\\nGenerá 2-4 learnings con datos que los respalden.\\nFormato OBLIGATORIO: [{\\\"category\\\":\\\"...\\\",\\\"content\\\":\\\"...\\\",\\\"confidence\\\":0.7}]\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000014",
      "name": "POST /learnings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2960, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AUTOLAB_API_URL }}/learnings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"learnings\": {{ (() => { const raw = $json.choices[0].message.content; try { const m = raw.match(/```json([\\s\\S]*?)```/) || raw.match(/(\\[[\\s\\S]*\\])/); return JSON.parse(m ? m[1].trim() : raw.trim()); } catch(e) { return []; } })() }},\n  \"session_id\": \"N8N_{{ $now.toFormat('yyyyMMdd') }}\",\n  \"cycle_num\": {{ $runIndex + 1 }}\n}",
        "options": {}
      }
    }
  ],

  "connections": {
    "Cron 30min": {
      "main": [[{"node": "GET /context", "type": "main", "index": 0}]]
    },
    "GET /context": {
      "main": [[{"node": "NVIDIA — Analizar", "type": "main", "index": 0}]]
    },
    "NVIDIA — Analizar": {
      "main": [[{"node": "Wait 12s (rate limit)", "type": "main", "index": 0}]]
    },
    "Wait 12s (rate limit)": {
      "main": [[{"node": "Parsear Analysis", "type": "main", "index": 0}]]
    },
    "Parsear Analysis": {
      "main": [[{"node": "NVIDIA — Hipotetizar", "type": "main", "index": 0}]]
    },
    "NVIDIA — Hipotetizar": {
      "main": [[{"node": "Wait 12s (rate limit 2)", "type": "main", "index": 0}]]
    },
    "Wait 12s (rate limit 2)": {
      "main": [[{"node": "Validar Configs", "type": "main", "index": 0}]]
    },
    "Validar Configs": {
      "main": [[{"node": "POST /experiments", "type": "main", "index": 0}]]
    },
    "POST /experiments": {
      "main": [[{"node": "POST /run-pipeline", "type": "main", "index": 0}]]
    },
    "POST /run-pipeline": {
      "main": [[{"node": "GET /results/cycle", "type": "main", "index": 0}]]
    },
    "GET /results/cycle": {
      "main": [[{"node": "Wait 12s (rate limit 3)", "type": "main", "index": 0}]]
    },
    "Wait 12s (rate limit 3)": {
      "main": [[{"node": "NVIDIA — Aprender", "type": "main", "index": 0}]]
    },
    "NVIDIA — Aprender": {
      "main": [[{"node": "POST /learnings", "type": "main", "index": 0}]]
    }
  },

  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
